CompLibrary/CompLibrary/Presentation pictures/
CompLibrary/CompLibrary/Installer/
CompLibrary/CompLibrary/CompUI/bin/Release/net5.0-windows/publish/
**/.vs/
**/Debug/
**/Release/
**/obj/
**/packages/
CompLibrary/CompLibrary/CompUIWPF/Properties/PublishProfiles/FolderProfile.pubxml.user
